<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MagicSafe Shortener</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@nextui-org/react/dist/index.css"
    />
    <style>
      :root {
        --color-1: #f3e0ec;
        --color-2: #ead5e6;
        --color-3: #f2befc;
        --color-4: #ca9ce1;
        --color-5: #685f74;
      }

      /* Darken text color for better visibility */
      body {
        color: #1a202c;
      }

      /* Gradient for product name */
      .gradient-text {
        background: linear-gradient(
          45deg,
          var(--color-1),
          var(--color-2),
          var(--color-3),
          var(--color-4),
          var(--color-5)
        );
        -webkit-background-clip: text;
        color: transparent;
      }
    </style>
  </head>
  <body
    class="bg-gradient-to-b from-color-1 via-color-2 to-color-5 min-h-screen flex flex-col"
  >
  <script>var blockAdBlock = false;</script>
  <script>
    /*
 * BlockAdBlock 3.2.1
 * Copyright (c) 2015 Valentin Allaire <valentin.allaire@sitexw.fr>
 * Released under the MIT license
 * https://github.com/sitexw/BlockAdBlock
 */

(function(window) {
	var BlockAdBlock = function(options) {
		this._options = {
			checkOnLoad:		false,
			resetOnEnd:			false,
			loopCheckTime:		50,
			loopMaxNumber:		5,
			baitClass:			'pub_300x250 pub_300x250m pub_728x90 text-ad textAd text_ad text_ads text-ads text-ad-links',
			baitStyle:			'width: 1px !important; height: 1px !important; position: absolute !important; left: -10000px !important; top: -1000px !important;',
			debug:				false
		};
		this._var = {
			version:			'3.2.1',
			bait:				null,
			checking:			false,
			loop:				null,
			loopNumber:			0,
			event:				{ detected: [], notDetected: [] }
		};
		if(options !== undefined) {
			this.setOption(options);
		}
		var self = this;
		var eventCallback = function() {
			setTimeout(function() {
				if(self._options.checkOnLoad === true) {
					if(self._options.debug === true) {
						self._log('onload->eventCallback', 'A check loading is launched');
					}
					if(self._var.bait === null) {
						self._creatBait();
					}
					setTimeout(function() {
						self.check();
					}, 1);
				}
			}, 1);
		};
		if(window.addEventListener !== undefined) {
			window.addEventListener('load', eventCallback, false);
		} else {
			window.attachEvent('onload', eventCallback);
		}
	};
	BlockAdBlock.prototype._options = null;
	BlockAdBlock.prototype._var = null;
	BlockAdBlock.prototype._bait = null;
	
	BlockAdBlock.prototype._log = function(method, message) {
		console.log('[BlockAdBlock]['+method+'] '+message);
	};
	
	BlockAdBlock.prototype.setOption = function(options, value) {
		if(value !== undefined) {
			var key = options;
			options = {};
			options[key] = value;
		}
		for(var option in options) {
			this._options[option] = options[option];
			if(this._options.debug === true) {
				this._log('setOption', 'The option "'+option+'" he was assigned to "'+options[option]+'"');
			}
		}
		return this;
	};
	
	BlockAdBlock.prototype._creatBait = function() {
		var bait = document.createElement('div');
			bait.setAttribute('class', this._options.baitClass);
			bait.setAttribute('style', this._options.baitStyle);
		this._var.bait = window.document.body.appendChild(bait);
		
		this._var.bait.offsetParent;
		this._var.bait.offsetHeight;
		this._var.bait.offsetLeft;
		this._var.bait.offsetTop;
		this._var.bait.offsetWidth;
		this._var.bait.clientHeight;
		this._var.bait.clientWidth;
		
		if(this._options.debug === true) {
			this._log('_creatBait', 'Bait has been created');
		}
	};
	BlockAdBlock.prototype._destroyBait = function() {
		window.document.body.removeChild(this._var.bait);
		this._var.bait = null;
		
		if(this._options.debug === true) {
			this._log('_destroyBait', 'Bait has been removed');
		}
	};
	
	BlockAdBlock.prototype.check = function(loop) {
		if(loop === undefined) {
			loop = true;
		}
		
		if(this._options.debug === true) {
			this._log('check', 'An audit was requested '+(loop===true?'with a':'without')+' loop');
		}
		
		if(this._var.checking === true) {
			if(this._options.debug === true) {
				this._log('check', 'A check was canceled because there is already an ongoing');
			}
			return false;
		}
		this._var.checking = true;
		
		if(this._var.bait === null) {
			this._creatBait();
		}
		
		var self = this;
		this._var.loopNumber = 0;
		if(loop === true) {
			this._var.loop = setInterval(function() {
				self._checkBait(loop);
			}, this._options.loopCheckTime);
		}
		setTimeout(function() {
			self._checkBait(loop);
		}, 1);
		if(this._options.debug === true) {
			this._log('check', 'A check is in progress ...');
		}
		
		return true;
	};
	BlockAdBlock.prototype._checkBait = function(loop) {
		var detected = false;
		
		if(this._var.bait === null) {
			this._creatBait();
		}
		
		if(window.document.body.getAttribute('abp') !== null
		|| this._var.bait.offsetParent === null
		|| this._var.bait.offsetHeight == 0
		|| this._var.bait.offsetLeft == 0
		|| this._var.bait.offsetTop == 0
		|| this._var.bait.offsetWidth == 0
		|| this._var.bait.clientHeight == 0
		|| this._var.bait.clientWidth == 0) {
			detected = true;
		}
		if(window.getComputedStyle !== undefined) {
			var baitTemp = window.getComputedStyle(this._var.bait, null);
			if(baitTemp && (baitTemp.getPropertyValue('display') == 'none' || baitTemp.getPropertyValue('visibility') == 'hidden')) {
				detected = true;
			}
		}
		
		if(this._options.debug === true) {
			this._log('_checkBait', 'A check ('+(this._var.loopNumber+1)+'/'+this._options.loopMaxNumber+' ~'+(1+this._var.loopNumber*this._options.loopCheckTime)+'ms) was conducted and detection is '+(detected===true?'positive':'negative'));
		}
		
		if(loop === true) {
			this._var.loopNumber++;
			if(this._var.loopNumber >= this._options.loopMaxNumber) {
				this._stopLoop();
			}
		}
		
		if(detected === true) {
			this._stopLoop();
			this._destroyBait();
			this.emitEvent(true);
			if(loop === true) {
				this._var.checking = false;
			}
		} else if(this._var.loop === null || loop === false) {
			this._destroyBait();
			this.emitEvent(false);
			if(loop === true) {
				this._var.checking = false;
			}
		}
	};
	BlockAdBlock.prototype._stopLoop = function(detected) {
		clearInterval(this._var.loop);
		this._var.loop = null;
		this._var.loopNumber = 0;
		
		if(this._options.debug === true) {
			this._log('_stopLoop', 'A loop has been stopped');
		}
	};
	
	BlockAdBlock.prototype.emitEvent = function(detected) {
		if(this._options.debug === true) {
			this._log('emitEvent', 'An event with a '+(detected===true?'positive':'negative')+' detection was called');
		}
		
		var fns = this._var.event[(detected===true?'detected':'notDetected')];
		for(var i in fns) {
			if(this._options.debug === true) {
				this._log('emitEvent', 'Call function '+(parseInt(i)+1)+'/'+fns.length);
			}
			if(fns.hasOwnProperty(i)) {
				fns[i]();
			}
		}
		if(this._options.resetOnEnd === true) {
			this.clearEvent();
		}
		return this;
	};
	BlockAdBlock.prototype.clearEvent = function() {
		this._var.event.detected = [];
		this._var.event.notDetected = [];
		
		if(this._options.debug === true) {
			this._log('clearEvent', 'The event list has been cleared');
		}
	};
	
	BlockAdBlock.prototype.on = function(detected, fn) {
		this._var.event[(detected===true?'detected':'notDetected')].push(fn);
		if(this._options.debug === true) {
			this._log('on', 'A type of event "'+(detected===true?'detected':'notDetected')+'" was added');
		}
		
		return this;
	};
	BlockAdBlock.prototype.onDetected = function(fn) {
		return this.on(true, fn);
	};
	BlockAdBlock.prototype.onNotDetected = function(fn) {
		return this.on(false, fn);
	};
	
	window.BlockAdBlock = BlockAdBlock;
	
	if(window.blockAdBlock === undefined) {
		window.blockAdBlock = new BlockAdBlock({
			checkOnLoad: true,
			resetOnEnd: true
		});
	}
})(window);
  </script>
    <div class="flex-1 flex items-center justify-center">
      <div class="container flex flex-col md:flex-row">
        <div class="md:w-1/2 p-8 text-center">
          <h1 class="text-5xl font-bold gradient-text p-6">MagicSafe</h1>
          <p class="text-lg text-gray-400">
              Fast and Less-Characterized URL Shortener
            </p>
            <p class="font-bold text-2xl p-6">Highlighted Features</p>
            <ol class="list-none hover:list-disc text-gray-500 space-y-2">
            <li>🚀 <b>Simplicity</b> Easy to use for everyone</li>
            <li>🔒 <b>Reliability</b> Uncomplicated shortening services</li>
            <li>🤖 <b>Ease of Use</b> User-friendly interface</li>
            <li>💸 <b>Free</b> No cost for URL shortening services</li>
            <li>🌐 <b>Permanent Short Links</b> Stable and lasting</li>
            <li>🔐 <b>Security</b> Prioritizing the security of shortened URLs</li>
          </ol>
        </div>
        <div class="md:w-1/2 p-8">
          <div class="card">
            <div class="card-content">
              <div class="mb-8 text-center">
                <form action="{{ url_for('shorten_url') }}" method="post">
                  <input
                    type="text"
                    id="originalLink"
                    name="original_link"
                    placeholder="Enter your link"
                    class="w-full p-4 border rounded-lg"
                  />
                  <button
                    type="submit"
                    class="w-full bg-indigo-500 text-white p-2 mt-4 rounded-lg"
                  >
                    Shorten Link
                  </button>
                </form>
              </div>
              {% if short_url %}
              <p class="text-center text-gray-500">
                Shortened URL:
                <a href="{{ short_url }}" target="_blank" id="short_url_link"
                  >{{ short_url }}</a
                >
              </p>
              <button
                id="copyButton"
                class="w-full bg-blue-500 text-white p-2 mt-2 rounded-lg"
              >
                Copy to Clipboard
              </button>
              {% endif %}
              <script type="text/javascript">
                atOptions = {
                  'key' : 'cdd8ae282c701aa5b914f57eb8f7ca16',
                  'format' : 'iframe',
                  'height' : 300,
                  'width' : 160,
                  'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/cdd8ae282c701aa5b914f57eb8f7ca16/invoke.js"></scr' + 'ipt>');
              </script>
              <script async="async" data-cfasync="false" src="//pl21978696.toprevenuegate.com/30e2114a63446057162e2c292158f5cf/invoke.js"></script>
              <div id="container-30e2114a63446057162e2c292158f5cf"></div>
              <script async="async" data-cfasync="false" src="//pl21978696.toprevenuegate.com/30e2114a63446057162e2c292158f5cf/invoke.js"></script>
              <div id="container-30e2114a63446057162e2c292158f5cf"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer bg-white">
      <div class="container text-center">
        <p class="text-gray-800 p-4">&copy; All Rights Reserved. Tenjin</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Initialize Tailwind components here if needed

        // Copy to clipboard functionality
        document
          .getElementById("copyButton")
          .addEventListener("click", function () {
            var shortenedUrl =
              document.getElementById("short_url_link").innerText;
            var tempElement = document.createElement("textarea");
            tempElement.value = shortenedUrl;
            document.body.appendChild(tempElement);

            tempElement.select();
            document.execCommand("copy");
            document.body.removeChild(tempElement);

            alert("Shortened URL copied to clipboard!");
          });
      });
    </script>
  </body>
</html>
