<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MagicSafe Shortener</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@nextui-org/react/dist/index.css"
    />
    <style>
      :root {
        --color-1: #f3e0ec;
        --color-2: #ead5e6;
        --color-3: #f2befc;
        --color-4: #ca9ce1;
        --color-5: #685f74;
      }

      /* Darken text color for better visibility */
      body {
        color: #1a202c;
      }

      /* Gradient for product name */
      .gradient-text {
        background: linear-gradient(
          45deg,
          var(--color-1),
          var(--color-2),
          var(--color-3),
          var(--color-4),
          var(--color-5)
        );
        -webkit-background-clip: text;
        color: transparent;
      }
    </style>
  </head>
  <body
    class="bg-gradient-to-b from-color-1 via-color-2 to-color-5 min-h-screen flex flex-col"
  >
    <div class="flex-1 flex items-center justify-center">
      <div class="container flex flex-col md:flex-row">
        <div class="md:w-1/2 p-8 text-center">
          <h1 class="text-5xl font-bold gradient-text p-6">MagicSafe</h1>
          <p class="text-lg text-gray-400">
            Fast and Less-Characterized URL Shortener
          </p>
          <p class="font-bold text-2xl p-6">Highlighted Features</p>
          <ol class="list-none hover:list-disc text-gray-500 space-y-2">
            <li>🚀 <b>Simplicity</b> Easy to use for everyone</li>
            <li>🔒 <b>Reliability</b> Uncomplicated shortening services</li>
            <li>🤖 <b>Ease of Use</b> User-friendly interface</li>
            <li>💸 <b>Free</b> No cost for URL shortening services</li>
            <li>🌐 <b>Permanent Short Links</b> Stable and lasting</li>
            <li>
              🔐 <b>Security</b> Prioritizing the security of shortened URLs
            </li>
          </ol>
        </div>
        <div class="md:w-1/2 p-8">
          <div class="card">
            <div class="card-content">
              <div class="mb-8 text-center">
                <form action="{{ url_for('shorten_url') }}" method="post">
                  <input
                    type="text"
                    id="originalLink"
                    name="original_link"
                    placeholder="Enter your link"
                    class="w-full p-4 border rounded-lg"
                  />
                  <button
                    type="submit"
                    class="w-full bg-indigo-500 text-white p-2 mt-4 rounded-lg"
                  >
                    Shorten Link
                  </button>
                </form>
              </div>
              {% if short_url %}
              <p class="text-center text-gray-500">
                Shortened URL:
                <a href="{{ short_url }}" target="_blank" id="short_url_link"
                  >{{ short_url }}</a
                >
              </p>
              <button
                id="copyButton"
                class="w-full bg-blue-500 text-white p-2 mt-2 rounded-lg"
              >
                Copy to Clipboard
              </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer bg-white">
      <div class="container text-center">
        <p class="text-gray-800 p-4">&copy; All Rights Reserved. Tenjin</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Initialize Tailwind components here if needed

        // Copy to clipboard functionality
        document
          .getElementById("copyButton")
          .addEventListener("click", function () {
            var shortenedUrl =
              document.getElementById("short_url_link").innerText;
            var tempElement = document.createElement("textarea");
            tempElement.value = shortenedUrl;
            document.body.appendChild(tempElement);

            tempElement.select();
            document.execCommand("copy");
            document.body.removeChild(tempElement);

            alert("Shortened URL copied to clipboard!");
          });
      });
    </script>
  </body>
</html>
